<%- include('parts/header', {user_info: header_info.user_info, logged: header_info.logged}); %>
    <section class="section-post">
        <div class="container">
            <h2 class="text-center"><%= element.title %></h2>
            <div class="text-center">
                <img src="<%= element.image_link %>" alt="<%= element.title %>">
            </div>
            <p><%= element.info_full %></p>
        </div>
    </section>
    <section class="section-comment">
        <div class="container">
            <% if (header_info.logged && edit_comment.type === 'show') { %>
                <form method="POST" action="/comments/add/<%= element._id %>" class="border d-flex flex-column">
                    <textarea placeholder="Comment..." name="comment" cols="30" rows="5"></textarea>
                    <input type="submit" class="btn btn-primary" value="Add Comment">
                </form>
            <% } %>
            <% comments.forEach(function(item, index) { %>
                <% if (JSON.stringify(item.postID) === JSON.stringify(element._id)) { %>
                    <div class="mt-2 d-flex flex-column border">
                        <span><%= usersObj[item.createdBy] %></span>
                        <% if (JSON.stringify(edit_comment.comment) !== JSON.stringify(item._id)) { %>
                            <p class="mb-0"><%= item.comment %></p>
                        <% } else { %>
                            <form method="POST" action="/comments/edit/<%= item._id %>" class="border d-flex flex-column">
                                <textarea placeholder="Comment..." name="comment_edit" cols="30" rows="5"><%= item.comment %></textarea>
                                <input type="submit" class="btn btn-primary" value="Save Comment">
                            </form>
                        <% } %>
                        <% if (JSON.parse(storage.getItem('user_info')).login === usersObj[item.createdBy]) { %>
                            <a href="/comments/remove/<%= item._id %>">Delete</a>
                            <% if (edit_comment.type === 'show') { %>
                                <a href="/posts/<%= element._id %>?action=edit_comment&comment=<%= item._id %>">Edit</a>
                            <% } %>
                        <% } %>
                    </div>
                <% } %>
            <% }); %>
        </div>
    </section>
<%- include('parts/footer'); %>